/*I kinda stopped working on the css after our conversation about what was expected with this assignment*/
.IMDBlogo { grid-area: IMDBlogo; }
.search { grid-area: search;
}
.movies { grid-area: movies; }
.celebs { grid-area: celebs; }
.news { grid-area: news; }
.watchlist { grid-area: watchlist; }
.facebook { grid-area: facebook; }


.grid-container{
    padding: 10px;
    display: grid;
    background-color: dimgrey;
    border-radius: 5px;
    text-align: center;
    grid-template-areas:
       'IMDBlogo search search search search search search'
       'IMDBlogo movies celebs news watchlist facebook facebook';
}

.container {

    width: 100%;
    border: 1px solid gray;
    text-align: center;
}

.div-container {
    width: 100%;

}

.Header {
    padding: 1em;
    color: white;
    background-color: dimgray;
    clear: left;
    text-align: center;

}
.button {
    background-color: #ffdf3c;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    height: 49px;
    width: 101px;


}